.posts-container {
  padding: 0 8rem;
}
.main-table {
  border-bottom: 2px solid black;
  width: 100%;
}
.main-table th {
  padding: 1rem 0;
}
.inner-table {
  width: 100%;
}
.inner-table tr td {
  padding: 20px 20px;
}
.inner-table td img {
  width: 40px;
}
nav {
  padding: 3rem 8rem;
}
nav li {
  list-style-type: none;
  display: inline;
}
nav a {
  text-decoration: none;
  margin-left: 3rem;
  padding: 10px;
  color: white;
  font-size: 18px;
  background-color: #6195a3;
}
